<div class="img-container">
    <img src="./assets/images/enquire-now.jpg" class="img-fluid img-size" alt="About JS Engineering">
    <div class="text-block">
        <h2>Contact us</h2>
    </div>
</div>
<div class="container-fluid pt-3 pl-3 bg-univ">
    <div class="row">
        <div style="width: 2%;">
            <p class="box"></p>
        </div>
        <div class="col" style="padding-left: 0px;">
            <h4 class="font-weight-bold">Contact Us</h4>
            <br>
                <div class="ceo-hover">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="./assets/images/amalan-img-website.jpeg" class="img-fluid"
                                    alt="About JS Engineering">
                            </div>
                            <div class="col-sm-7">
                                <div class="row">
                                    <h5 class="card-title fw-bold ceo-text-color">CEO and MD</h5>
                                    <div class="col-sm-1">
                                        <p class="ceo-box"></p>
                                    </div>
                                    <div class="col-sm-10">
                                        <p class="card-text">Arockia Amalanathan P</p>
                                        <p>Contact No: +91 9585891818</p>
                                        <p>Mail Id: jsengg18@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <br>
            <h6 class="fw-bold">Address:</h6>
            <p class="card-text">JS Engineering, <br>
                No.2, SF No.379/D, 1st Floor, <br>
                9th Street, Jothi Nagar, <br>
                Varatharajapuram, <br>
                Upplipalayam-Post, <br>
                Coimbatore - 641015, <br>
                TamilNadu, India.
            </p>
        </div>
        <div class="col-sm-6">
            <div class="iframe-wrapper">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.2741647843586!2d77.0265602!3d11.018044699999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8579edab00d17%3A0xef2ed216c7a996f5!2sJS%20Engineering!5e0!3m2!1sen!2sin!4v1697977308212!5m2!1sen!2sin"
                     style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        
    </div> -->
    <br>
</div>