<form action="https://formsubmit.co/thirunagar2016@gmail.com" class="example-form" method="post">
    <!-- <table class="example-full-width" cellspacing="0">
        <tr>
            <td> -->
                <mat-form-field class="example-full-width">
                    <mat-label>Full name</mat-label>
                    <input name="Name" matInput>
                </mat-form-field>
            <!-- </td>
            <td> -->
                <mat-form-field class="example-full-width">
                    <mat-label>Company Name</mat-label>
                    <input matInput name="Company name">
                </mat-form-field>
            <!-- </td>
        </tr>
    </table> -->
    <!-- <table class="example-full-width" cellspacing="0">
        <tr>
            <td> -->
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput name="Email" placeholder="abc@gmail.com">
                </mat-form-field>
            <!-- </td>
            <td> -->
                <mat-form-field class="example-full-width">
                    <mat-label>Mobile No</mat-label>
                    <input name="Mobile No" matInput placeholder="Ex. California">
                </mat-form-field>
            <!-- </td>
        </tr>
    </table> -->
    <p>
        <mat-form-field class="example-full-width">
            <mat-label>Message</mat-label>
            <textarea name="Message" matInput></textarea>
        </mat-form-field>
    </p>
    <button type="submit" mat-raised-button color="primary">Submit</button>
</form>
