<div class="form-align">
    <h4 class="font-weight-bold" style="text-align: center;">Enquiry form</h4>
    <form action="https://formsubmit.co/thirunagar2016@gmail.com" method="post">
       <input type="text" placeholder="Full Name" name="Name" required>
       <input type="text" placeholder="Company Name" name="Company Name" required>
       <input type="text" placeholder="Email" name="Email" required>
       <input type="text" placeholder="Mobile No" name="Mobile No" required>
       <textarea type="text" placeholder="Message" name="Message" required></textarea>
       <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>