<div class="container-fluid pt-3 pl-5 bg-light">
    <div class="container-fluid pt-3 pl-5 bg-light">
        <div class="row">
            <div style="width: 2%;">
                <p class="box"></p>
            </div>
            <div class="col" style="padding-left: 0px;">
                <h3 class="font-weight-bold">Solutions</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <mat-card class="card-back">
                    <div class="card-body" style="padding: 0%;">
                        <h5 class="card-title fw-bold">General turning solutions</h5>
                        <mat-divider></mat-divider><br>
                        <p class="card-text">Steel turning grade are designed to advance in a multitude of application
                            ranging from finishing and medium to extremely trying applications where the real mettle of
                            our carbide technology is tested. <br>
                            1. <span class="fw-bold">STEEL TURNING SERIES A1100-A1200 </span><br>
                            2. <span class="fw-bold">CAST IRON SERIES C1100</span> <br>
                            3. <span class="fw-bold">STAINLESS STEELS SERIES 3100 & 3200</span><br>
                            4. <span class="fw-bold">And more...</span>
                        </p>
                        <!-- <a href="#" class="btn btn-back text-white">Brochure</a> -->
                    </div>
                </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card class="card-back">
                    <div class="card-body" style="padding: 0%;">
                        <h5 class="card-title  fw-bold">End Mills</h5>
                        <mat-divider></mat-divider><br>
                        <p class="card-text">Solid Endmills for die & mold come with a variety of series. Each series
                            with their own characteristics and application strengths. for more details please check on
                            brochure.
                            <br>
                            1. <span class="fw-bold">DIE AND MOLD ENDMILLS EP50 and SH160 </span><br>
                            2. <span class="fw-bold">ENDMILLS FOR STAINLESS STEEL Ss200</span><br>
                            3. <span class="fw-bold">ENDMILLS FOR NON-FERROUS UA100</span><br>
                            4. <span class="fw-bold">And more...</span>
                        </p>
                            <!-- <a href="#" class="btn btn-back text-white">Brochure</a> -->
                    </div>
                </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card class="card-back">
                    <div class="card-body" style="padding: 0%;">
                        <h5 class="card-title fw-bold">Band saw</h5>
                        <mat-divider></mat-divider><br>
                        <p class="card-text">We offer wide range of German Metal bandsaw blades to suit all needs of
                            metal cutting industries. Our saw blades are produced with latest welding and grinding
                            technologies.
                            <br>
                            1. <span class="fw-bold">HSS Bi-Metal – M42 & M51 Grades </span><br>
                            2. <span class="fw-bold">Carbide Tipped Bandsaw Blades</span><br>
                            3. <span class="fw-bold">And more...</span><br><br>
                        </p>
                        <!-- <a href="#" class="btn btn-back text-white">Brochure</a> -->
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div><div class="bg-light"><br>
</div>
<div class="container-fluid pt-3 pl-5 bg-light">
    <h5 class="font-weight-bold">For more details visit the websites below:</h5>
    <a target="_blank" href="https://wintechcarbide.com" style="text-decoration: none; color: black;">
        <div class="row">
            <div class="col-sm-2">
                <img src="/assets/images/wintech-logo.jpg" alt="" style="width: 200px; height: 50px;">
            </div>
            <div class="col-sm-10" style="padding-left: 0px;">
                <p>CNC cutting tools products. They established in INDIA, back 2000. WINTECH-Range of products are keep
                    on
                    expanding in wide range, to give betterment to our customers in all aspects. WINTECH, who proved
                    their
                    leadership in Cast-Iron Machining.
                    WINTECH was started with the vision of better serving the fast-growing Indian Manufacturing
                    Industry.
                    The
                    ideal is to invest in better technologies which will raise the bar for not just the auto industry
                    but
                    also for the acting players in the cutting tools sector.</p>
            </div>
        </div>
    </a>
    <p style="border-bottom: 1px solid grey;"></p>
    <a target="_blank" href="https://wintechcarbide.com" style="text-decoration: none; color: black;">
        <div class="row">
            <div class="col-sm-2">
                <img src="/assets/images/MEBA-LOGO.jpg" alt="" style="width: 200px; height: 50px;">
            </div>
            <div class="col-sm-10" style="padding-left: 0px;">
                <p>Made in Germany products. They are leader in Metal cutting- Bi- Metal Band saw, circular saw and then
                    Machineries.
                    MEBA have a wide range of metal bandsawing machines to choose from. Ranging from small manual and
                    semi-
                    automatic machines, up to double mitre fully automatic CNC machines.
                    MEBA can also manufacture customized in-feed and out-feed material handling systems with a variety
                    of
                    material end stops to suit tailor made requirements.
                </p>
            </div>
        </div>
    </a>
    <p style="border-bottom: 1px solid grey;"></p>
    <a target="_blank" href="https://wintechcarbide.com" style="text-decoration: none; color: black;">
        <div class="row">
            <div class="col-sm-2">
                <img src="/assets/images/trucut logo.png" alt="" style="width: 200px; height: 50px;">
            </div>
            <div class="col-sm-10" style="padding-left: 0px;">
                <p>Master in Solid Carbide Tools. All Range like End mills, Drills and specials available.
                    Production Facility of 15,000 Sq Ft Having Trained Skill Work Force, Equipped with Advance CNC
                    Grinding
                    Machines & Tool Inspection Machine to Ensure All the Tool Leave Facility with High Quality &
                    Consistency.
                </p>
            </div>
        </div>
    </a>
</div>