<div id="carouselExampleControls" class="carousel slide" style="background: transparent;" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./assets/images/drill-444459-resized.jpg" class="mx-auto d-block sizes"
                alt="Customer portal">
        </div>
        <div class="carousel-item">
            <img src="./assets/images/milling-cutters-3203929-resized.jpg" class="mx-auto d-block sizes"
                alt="Customer portal">
        </div>
        <div class="carousel-item">
            <img src="./assets/images/pexels-pixabay-46973.jpg" class="mx-auto d-block sizes"
                alt="Vendor portal">
        </div>
        <div class="carousel-item">
            <img src="./assets/images/pexels-pixabay-48799-resized.jpg" class="mx-auto d-block sizes"
                alt="Employee portal">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container-fluid pt-3 pl-3">
    <div class="row">
        <div style="width: 2%;">
            <p class="box"></p>
        </div>
        <div class="col" style="padding-left: 0px;">
            <h4 class="font-weight-bold">Welcome to JS Engineering!</h4>
        </div>
    </div>
    <div class="row pl-2">
        <div class="col-sm-6">
            <p class="card-text">JS Engineering, Coimbatore established on 2013 with a clear strategy to provide world
                class products to needy customers with proper tooling solutions. We committed to provide better service
                to our customers with all available aspects.
            </p>
            <p>
                From 2017 onwards, we are vibrantly promoting WINTECH products in Coimbatore, Madurai & Kerala. <br>
                We are well known dealer for Meba-Bi metal Band saw in Coimbatore, Madurai & Kerala Region.
            </p>
        </div>
    </div>
    <h5 class="fw-bold">
        Authorized Distributors:
    </h5>
    <div class="row dealing-box"  style="margin-bottom: 6px;">
        <div class="col-sm-2 pt-3">
            <a target="_blank" href="https://wintechcarbide.com ">
                <img src="./assets/images/wintech-logo.jpg" alt="" style="width: 200px; height: 50px;"></a>
        </div>
        <div class="col-sm-10 pl-3 pt-2" style="padding-left: 0px;">
            <p>CNC cutting tools products. They established in INDIA, back 2000. WINTECH-Range of products are keep on
                expanding in wide range, to give betterment to our customers in all aspects. WINTECH, who proved their
                leadership in Cast-Iron Machining.
                WINTECH was started with the vision of better serving the fast-growing Indian Manufacturing Industry.
                The
                ideal is to invest in better technologies which will raise the bar for not just the auto industry but
                also for the acting players in the cutting tools sector.</p>
        </div>
    </div>
    <div class="row dealing-box"  style="margin-bottom: 6px;">
        <div class="col-sm-2 pt-2 pt-3">
            <a target="_blank" href="https://mebaindia.com">
                <img src="./assets/images/meba-logo.jpg" alt="" style="width: 200px; height: 50px;"></a>
        </div>
        <div class="col-sm-10 pl-3 pt-2" style="padding-left: 0px;">
            <p>Made in Germany products. They are leader in Metal cutting- Bi- Metal Band saw, circular saw and then
                Machineries. MEBA have a wide range of metal bandsawing machines to choose from. Ranging from small manual and semi-
                automatic machines, up to double mitre fully automatic CNC machines.
                MEBA can also manufacture customized in-feed and out-feed material handling systems with a variety of
                material end stops to suit tailor made requirements.
            </p>
        </div>
    </div>
    <div class="row dealing-box" style="margin-bottom: 10px;">
        <div class="col-sm-2 pt-2">
            <a target="_blank" href="https://trucut-tool.com/index.php">
                <img src="./assets/images/trucut-logo.png" alt="" style="width: 200px; height: 50px;"></a>
        </div>
        <div class="col-sm-10 pl-3 pt-2" style="padding-left: 0px;">
            <p>Master in Solid Carbide Tools. All Range like End mills, Drills and specials available. Production Facility of 15,000 Sq Ft Having Trained Skill Work Force, Equipped with Advance CNC Grinding
                Machines & Tool Inspection Machine to Ensure All the Tool Leave Facility with High Quality &
                Consistency.
            </p>
        </div>
    </div>
</div>