<section class="">
  <!-- Footer -->
  <footer class="text-white" style="background-color: #16416e;">
    <div class="text-start p-1 bottom-border">
      <a class="text-white" style="text-decoration: none;" href="home"> Home</a> |
      <!-- <a class="text-white" style="text-decoration: none;" href="aboutus"> About us</a> | -->
      <a class="text-white" style="text-decoration: none;" href="products"> Products</a> |
      <a class="text-white" style="text-decoration: none;" href="contactus"> Contact us</a>
    </div>
    <div class="text-end pt-2 bottom-border" style="background-color: #16416e">
      <h3><img src="./assets/images/js engineering logo alone.jpg" alt="" style="width: 37px; height: 37px; margin-right: 10px; border-radius: 2px;">JS Engineering</h3>
    </div>
    <!-- Copyright -->
    <div class="text-end p-1">
      Copyright © 2023 JS Engineering, All Rights Reserved
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>